<%= form_for(@member) do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this attend from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :出席しますか？ %>
    <%= f.select(:attend, {'◯' => 1, '△' => 2, '×' => 3}) %>
  </div>

  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :party_id, :value => @party.id %>
  <div class="actions">
    <%= f.submit '登録' %>
  </div>
<% end %>

